// import scss variables from camp-css package
@import '~camp-css/scss/variables/_colors.scss';
// import my scss variables
@import '../../../shared/variables.scss';

/*
    Input component styles
    @component: ./Input.js
*/

.input {
    // default styles
    display: inline-block;
    box-sizing: border-box;
    @include normal;
    color: $slate-60;
    text-decoration: none;
    border: 1px solid rgba($slate-60, 0.2);
    background-color: $white;

    /*
        animation styles if not disabled
        @prop
        noAnimation: bool
    */
    &:not(.noAnimation) {
        will-change: color, box-shadow, border;
        transition: color 0.3s, box-shadow 0.3s, border 0.3s;
    }

    /*
        placeholder styles
    */
    &::placeholder {
        color: rgba($slate-60, 0.3);
    }

    /*
        focus styles
    */
    &:focus {
        outline: none;
        border: 1px solid $base-color;

        &::placeholder {
            color: rgba($slate-60, 0.6);
        }
    }

    /*
        shadow styles
        @prop
        shadow: 'inset' || 'outset' || 'both'
    */

    &.shadow {
        &.inset {
            box-shadow: $shadow-inset;

            &:focus {
                box-shadow: $shadow-inset;
            }
        }

        &.outset {
            box-shadow: $shadow;

            &:focus {
                box-shadow: $shadow-focus;
            }
        }

        &.both {
            box-shadow: $shadow, $shadow-inset;

            &:focus {
                box-shadow: $shadow-focus, $shadow-inset;
            }
        }
    }

    /*
        round corners styles
        @prop
        round: bool
    */
    &.round {
        border-radius: $border-radius;
    }

    /*
        size styles
        @prop
        size: 'small' || 'large'
    */
    &.small {
        @include small;
    }

    &.large {
        @include large;
    }
}
